<h1> Cadastrar uma Tradução </h1>

<%= render 'form' %>

<h2>Formulario Raiz</h2>
<form action="/translations" method="POST">
  <div>
    <label for="port">Texto em Portugues</label>
    <input type="text" name="portuguese" id="port">
  </div>
  <div>
    <label for="eng">Texto em Ingles</label>
    <input type="text" name="english" id="eng">
  </div>
  <input type="submit" >



</form>
